# Package management
setuptools
wheel
# Core pipeline dependencies
facenet-pytorch==2.5.3
opencv-python-headless
pandas>=2.1.2
scikit-learn
matplotlib
numpy
Pillow
# Streamlit + Ngrok for UI
streamlit
pyngrok
